In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/movies_initial.csv')
df.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894,NOT RATED,1 min,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,2015-08-26 00:03:45.040000000,movie
1,5,Blacksmith Scene,1893,UNRATED,1 min,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,2015-08-26 00:03:50.133000000,movie
2,3,Pauvre Pierrot,1892,NaN,4 min,"Animation, Comedy, Short",1892-10-28,�mile Reynaud,NaN,NaN,...,6.7,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,2015-08-12 00:06:02.720000000,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,1 min,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,2015-08-10 00:21:07.127000000,movie
4,10,Employees Leaving the Lumi�re Factory,1895,NaN,1 min,"Documentary, Short",1895-03-22,Louis Lumi�re,NaN,NaN,...,6.9,3469.0,NaN,A man opens the big gates to the Lumi�re facto...,A man opens the big gates to the Lumi�re facto...,NaN,France,NaN,2015-08-26 00:03:56.603000000,movie

In [3]:
pd.set_option('display.max_columns',21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46014 entries, 0 to 46013
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdbID       46014 non-null  int64
 1   title        46014 non-null  object
 2   year         46014 non-null  object
 3   rating       24629 non-null  object
 4   runtime      43377 non-null  object
 5   genre        45615 non-null  object
 6   released     43002 non-null  object
 7   director     45409 non-null  object
 8   writer       42942 non-null  object
 9   cast         44928 non-null  object
 10  metacritic   9401 non-null   float64
 11  imdbRating   44300 non-null  float64
 12  imdbVotes    44299 non-null  float64
 13  poster       35798 non-null  object
 14  plot         42161 non-null  object
 15  fullplot     41421 non-null  object
 16  language     44899 non-null  object
 17  country      45830 non-null  object
 18  awards       23542 non-null  object
 19  lastupdated  46014 non-null  object
 20  type         45976 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 7.4+ MB

In [5]:
df.shape

(46014, 21)

In [6]:
#	What is the total number of missing values in each column?
df.isna().sum()

imdbID             0
title              0
year               0
rating         21385
runtime         2637
genre            399
released        3012
director         605
writer          3072
cast            1086
metacritic     36613
imdbRating      1714
imdbVotes       1715
poster         10216
plot            3853
fullplot        4593
language        1115
country          184
awards         22472
lastupdated        0
type              38
dtype: int64

In [7]:
#	How many unique values are present in the 'genre' column?
df['genre'].nunique()

1450

In [8]:
#	How many movies are there in the dataset released in each year?
df = df.astype({'year':'int64'})

ValueError: invalid literal for int() with base 10: '1979�': Error while type casting for column 'year'

In [9]:
df['year'] = df['year'].str.replace('�','')

In [10]:
filt = df['year'].str.contains('�')
df[filt]

Empty DataFrame
Columns: [imdbID, title, year, rating, runtime, genre, released, director, writer, cast, metacritic, imdbRating, imdbVotes, poster, plot, fullplot, language, country, awards, lastupdated, type]
Index: []

In [11]:
df = df.astype({'year':'int64'})

In [12]:
df['type'].value_counts()

type
movie     45585
series      391
Name: count, dtype: int64

In [13]:
df[df['type'] == 'movie'].groupby('year')['imdbID'].count().sort_values(ascending=False)

year
2015    2073
2014    2058
2013    1902
2012    1804
2011    1687
        ...
1874       1
1880       1
1893       1
1887       1
2019       1
Name: imdbID, Length: 134, dtype: int64

In [14]:
#Which director has directed the maximum number of movies in the dataset?
df.groupby('director')['imdbID'].count().sort_values(ascending=False).head(1)

director
John Ford    59
Name: imdbID, dtype: int64

In [15]:
#	How many movies have a rating above 8?
df['imdbRating'].dtype
df[df['imdbRating'] > 8].loc[:,['title','imdbRating']]

                             title  imdbRating
25              A Trip to the Moon         8.2
208    The Cabinet of Dr. Caligari         8.1
230                       One Week         8.3
237          Why Change Your Wife?         8.1
246                    Enchantment         8.3
...                            ...         ...
45805           Indru Netru Naalai         8.3
45949           In Jackson Heights         8.6
45974            Cosmos Laundromat         8.8
45998                 Thani Oruvan         9.4
46008           Bana Masal Anlatma         8.1

[1791 rows x 2 columns]

In [16]:
#	How many movies have a runtime greater than 2 hours?
df['runtime'] = df['runtime'].apply(lambda x: x.replace(' min','') if ('min') in str(x) else -1 ) #replacing min

In [17]:
filt = df['runtime'].str.contains('h') == True
df.loc[filt,'runtime']=df.loc[filt,'runtime'].apply(lambda x: int((x.split(' h '))[0])*60 + int((x.split(' h '))[1]) if (' h ') in x else x)

In [18]:
df['runtime'].replace(['1,256','1,140'], [1256,1140], inplace=True)
df[df['runtime'].str.contains(',') == True]
df = df.astype({'runtime':'float64'})

In [19]:
filt = df['runtime'] > 120
df.loc[filt,'imdbID'].count()

4786

In [20]:
#	How many movies have missing values in both the 'plot' and 'fullplot' columns?
df[['plot', 'fullplot']].isna().sum()

plot        3853
fullplot    4593
dtype: int64

In [21]:
#	Which country has produced the maximum number of movies in the dataset?
df['country'].str.split(', ').explode().value_counts()

country
USA              25191
UK                5076
France            4780
Italy             2851
Canada            2352
                 ...
Barbados             1
Zaire                1
Namibia              1
Faroe Islands        1
Vanuatu              1
Name: count, Length: 171, dtype: int64

In [22]:
#	How many movies have won at least one award?
##Data set is not clean

In [23]:
#	What is the average runtime of movies in the dataset?
df['runtime'].mean()

91.56778371799886

In [24]:
#	How many movies have a rating on IMDb but not on metacritic?
filt = (df['imdbRating'].isna() == False) & (df['metacritic'].isna() == True) 
# filt = (df['metacritic'].isna() == True) 
df[filt]
df.loc[filt,'imdbID'].count()

34899

In [25]:
#	How many movies have a rating on both IMDb and metacritic?
filt = (df['imdbRating'].isna() == False) & (df['metacritic'].isna() == False) 
df[filt]
df.loc[filt,'imdbID'].count()

9401

In [26]:
#	What is the earliest and latest release year of movies in the dataset?
df.sort_values(by='year', ascending=False)

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,metacritic,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
29443,495212,Hellsing Ultimate,20062012,TV-MA,50.0,"Animation, Action, Fantasy",2006-12-05,NaN,Kohta Hirano,"Katie Gray, Victoria Harwood, Crispin Freeman,...",NaN,8.5,8525.0,https://m.media-amazon.com/images/M/MV5BMTg4OT...,The vampire Alucard and his newly sired ward S...,"In flashback, Integra is seen assuming leaders...",Japanese,Japan,5 wins & 3 nominations.,2015-08-17 00:55:25.017000000,series
31425,495212,Hellsing Ultimate,20062012,TV-MA,50.0,"Animation, Action, Fantasy",2006-12-05,NaN,Kohta Hirano,"Katie Gray, Victoria Harwood, Crispin Freeman,...",NaN,8.5,8880.0,https://m.media-amazon.com/images/M/MV5BMTg4OT...,The vampire Alucard and his newly sired ward S...,"In flashback, Integra is seen assuming leaders...",Japanese,Japan,5 wins & 3 nominations.,2015-09-05 08:36:26.777000000,series
30643,877057,Death Note,20062007,TV-14,24.0,"Animation, Crime, Drama",2006-10-03,NaN,NaN,"Mamoru Miyano, Brad Swaile, Vincent Tong, Ry� ...",NaN,9.0,83811.0,https://m.media-amazon.com/images/M/MV5BMTI0NT...,An intelligent high school student goes on a s...,After an intelligent yet cynical high school s...,Japanese,Japan,2 wins.,2015-09-04 00:00:47.083000000,series
24060,292805,Insomniac with Dave Attell,20012004,NaN,30.0,Comedy,2001-08-05,NaN,NaN,Dave Attell,NaN,8.1,669.0,https://m.media-amazon.com/images/M/MV5BNzI1MT...,"Join ""tour-guide"" Dave Attell as he takes a lo...","In this late-night traveling show, ""Tour guide...",English,USA,NaN,2015-08-28 01:10:35.707000000,series
20546,170982,Mortal Kombat: Conquest,19981999,NaN,40.0,"Action, Adventure, Fantasy",1998-10-03,NaN,NaN,"Paolo Montalban, Daniel Bernhardt, Kristanna L...",NaN,6.6,2880.0,https://m.media-amazon.com/images/M/MV5BMTc1MD...,"In this prequel to the movies, Kung Lao has tr...","In this prequel to the movies, Kung Lao has tr...",English,USA,NaN,2015-07-24 00:09:46.617000000,series
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37414,1758563,Accordion Player,1888,NaN,-1.0,Short,NaN,Louis Aim� Augustin Le Prince,NaN,Adolphe Le Prince,NaN,5.7,403.0,NaN,A very brief film of a man playing the accordion.,A very brief film of a man playing the accordion.,NaN,UK,NaN,2015-05-29 00:27:46.557000000,movie
25376,343112,Traffic Crossing Leeds Bridge,1888,NaN,-1.0,"Documentary, Short",NaN,Louis Aim� Augustin Le Prince,NaN,NaN,NaN,7.2,1566.0,NaN,A shot of people walking on The Leeds Bridge.,A shot of people walking on The Leeds Bridge.,NaN,UK,NaN,2015-05-29 00:27:29.157000000,movie
39128,2075247,Man Walking Around the Corner,1887,NaN,-1.0,Short,NaN,Louis Aim� Augustin Le Prince,NaN,NaN,NaN,5.1,347.0,NaN,A frame sequence featuring a man walking aroun...,A frame sequence featuring a man walking aroun...,NaN,UK,NaN,2015-07-05 00:14:08.193000000,movie
39913,2221420,Sallie Gardner at a Gallop,1880,NaN,-1.0,Short,NaN,Eadweard Muybridge,NaN,Domm,NaN,7.3,326.0,NaN,"The clip shows a jockey, Domm, riding a horse,...","The clip shows a jockey, Domm, riding a horse,...",NaN,USA,NaN,2015-01-11 00:11:04.260000000,movie
42862,3155794,Passage de Venus,1874,NaN,-1.0,"Documentary, Short",NaN,P.J.C. Janssen,NaN,NaN,NaN,6.6,167.0,NaN,Record of the transit of the planet Venus acro...,Record of the transit of the planet Venus acro...,NaN,France,NaN,2015-08-20 00:01:31.580000000,movie

In [27]:
#	How many movies have a poster available?
(~df['poster'].isna()).sum()

35798

In [28]:
#	How many unique values are present in the 'language' column?
df['language'].str.split().explode().nunique()

407

In [29]:
#	How many movies have a runtime less than 30 minutes?
filt = df['runtime'] < 30
df.loc[filt,'title'].count()

3879

In [30]:
#	How many movies have a runtime between 2 and 3 hours?
filt = (df['runtime'] > 120) & (df['runtime'] < 180)
df.loc[filt,'title'].count()

4192

In [31]:
#	Which year has the highest average rating for movies?
df['imdbRating'].dtype
df.groupby('year')['imdbRating'].mean().sort_values(ascending=False)

year
20062007    9.00
20062012    8.50
19941998    8.20
20012004    8.10
1927        7.35
            ...
1887        5.10
2016         NaN
2017         NaN
2018         NaN
2019         NaN
Name: imdbRating, Length: 140, dtype: float64

In [32]:
filt = df['year'] == 20062007
df[filt]

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,metacritic,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
30643,877057,Death Note,20062007,TV-14,24.0,"Animation, Crime, Drama",2006-10-03,NaN,NaN,"Mamoru Miyano, Brad Swaile, Vincent Tong, Ry� ...",NaN,9.0,83811.0,https://m.media-amazon.com/images/M/MV5BMTI0NT...,An intelligent high school student goes on a s...,After an intelligent yet cynical high school s...,Japanese,Japan,2 wins.,2015-09-04 00:00:47.083000000,series

In [33]:
#	How many movies have 'sci-fi' as one of the genres?
df['genre'].str.split(', ').explode().value_counts()
filt = df['genre'].str.contains('Sci-Fi')
df['genre'].fillna('unknown', inplace=True)
# df[filt]

In [34]:
df.loc[df['genre'].str.contains('Sci-Fi'), 'title'].count()

2450